.container1{
    margin-top:3rem;
    margin-bottom:3rem;
    position:relative;
    min-height:35rem;
    height:auto;
    min-height:30rem;
}

h1{
    margin-bottom:1.5rem;
    padding-left:2%;
    font-family: "Open Sans";
    font-style: italic;
}

.images-container {
    position: relative;
    padding-left:2%;
    padding-right:2%;
    display:flex;
    flex-wrap: wrap;
    height:auto;
    min-height:25rem;
    justify-content: space-around;
}   

.card1{
    border-radius:1.5rem;
    width:23%;
    height:13rem;
    min-width: 15rem;
    position:relative;
    overflow:hidden;
    display:flex;
    margin:0.5rem;
    align-items: center;
    justify-content:center;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.34);
}

.img{
    position: absolute;
    height: 100%;
    width: 100%;
}

.text{
    position: absolute;
    z-index:3;
    color:rgb(211, 210, 210);
    font-family: Open sans;
    font-size: 20px;
    font-weight: bold;
    background:rgba(0,0,0,0.3);
    width:100%;
    display:flex;
    align-items: center;
    justify-content:center;
    height:3rem;
    transition:height 0.4s ease-in-out,color 0.3s;
    cursor: pointer;
}
.text:hover{
    height:100%;
    color:white;
    transition:height 0.4s ease-in-out,color 0.3s;
}