*{
    text-decoration: none;
    -webkit-tap-highlight-color: none;
}

.modal{
    position: absolute;
    z-index:1000;
    height: 100%;
    top:0;
    left:0;
    width: 100%;
    background-color:#3f3f3f7f;
    backdrop-filter: blur(5px);
}
@media only screen and (min-width:992px) {
    .navbar-items{
        position: relative;
        display:flex;
        gap:3rem;
        padding-top:1rem;
        align-items: center;
    }
    .menu{
        display:none;
    }
}

@media only screen and (max-width:992px){
    .navbar-items{
        display:none;
    }
    .menu{
        display:flex;
        color:white;
    }
    .icon-menu{
        width:30px;
        height:30px;
        cursor: pointer;
    }
    .navbar-bottom{
        width:100%;
        overflow-x: auto;
    }
}

.navbar{
    position:relative;
    display:flex;
    flex-direction: column;
    top: 0;
    padding:0 6%;
    width:100%;
    height:16vh;
    background:#6497B1;
    z-index:2;
    box-shadow:0 5px 5px 0 rgba(0,0,0,0.29);
}

.navbar-top{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-bottom{
    position: relative;
    display:flex;
    height:100%;
    align-items:center;
    gap:2rem;
}
.heading{
    color:#FFFEFE;
    font-size: 36px;
    font-family:Open Sans;
    font-weight:bold;
}




.btn{
    height:2.2rem;
    width:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:0.8rem;
    padding-left:0.8rem;
    padding-right:0.8rem;
    border-radius:0.8rem;
    border:none;
    font-size: 15px;
    font-family:Roboto;
    font-weight: bold;
    box-shadow:4px 4px 3px 0 rgba(0,0,0,0.24);
    color:#000;
    background:#D9D9D9;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.button{
    height:2.2rem;
    min-width:5rem;
    width:auto;
    padding-left:0.6rem;
    padding-right:0.6rem;
    border-radius:0.8rem;
    border:none;
    font-size: 15px;
    box-shadow:4px 4px 3px 0 rgba(0,0,0,0.24);
    color:#FFFBFB;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

button:hover{
    transform: scale(1.09);
    transition: 0.3s ease-in-out;
}

.button.reverse{
    border:2px solid #000;
}

.icon{
    position: relative;
    background:url('https://static.vecteezy.com/system/resources/previews/007/686/724/original/india-flag-circle-image-and-icon-free-vector.jpg');
    background-size:cover;
    background-position:45%;
    min-height:32px;
    min-width:32px;
    border-radius:32px ;
}

.container{
    position:absolute;
    
}