@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.main-page{
    width:100%;
    padding:1rem;
    height:100%;
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;

}
.list{
    height:100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width:100%;
    position: relative;
    justify-content:center;
    gap:1rem;
    padding:0 1rem;
}
.HotelPage{
    /* position: relative; */
    background-color: rgb(211, 211, 226);
    width:100%;
    height:700px;
    border-radius: 1.5rem;
    padding:1rem;
    display:grid;
    grid-template-columns: auto;
    grid-row-gap: 2rem;
}
.destination, .Cindate, .filter{
    font-size: 1.3rem;
    
    font-family: 'Roboto', sans-serif;
    font-weight:550;
    font-style: italic;
}
.search{
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
}
.filter_elements{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    margin:0.8rem;
}
.filter_elements input{
    text-align: center;
}
.filter_contain input{
    width:5rem;
    height:1.6rem;
    border-radius:0.5rem;
    border:none;
}
.filter_contain{
    width:65%;
    color:rgb(84, 83, 83);
}
.filter_contain label{
    font-size: 1rem;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}
.dest_input input{
    width:15.5rem;
    height:2rem;
    border-radius:0.5rem;
    border:none;
    text-align: center;
}
.date_input input{
    width:7.5rem;
    height:2rem;
    border:none;
    border-radius:0.5rem;
    margin-left:0.25rem;
    color:rgb(137, 135, 135);
}
.sub_btn button{
    width:8rem; 
    height:2.5rem;
    border:2px solid black;
    border-radius:1rem;
}
.sub_btn{
    display:flex;
    justify-content: center;
}
